@model AvaProj.Models.Matricula

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-3">Deletar</h1>

<h3>Tenha certeza antes de deletar alguma matrícula</h3>

<h4>Matrícula</h4>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Usuario)</th>
            <th>@Html.DisplayNameFor(model => model.DisciplinaOfertada)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Usuario.Id)</td>
            <td>@Html.DisplayFor(model => model.DisciplinaOfertada.Id)</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Deletar" class="btn btn-danger" /> |
    <a asp-action="Index">Voltar a Lista</a>
</form>