@model AvaProj.ViewModels.LoginViewModel

<h2>Login</h2>

@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">Erro no login. Verifique usuário e senha.</div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Identificador"></label>
        <input asp-for="Identificador" class="form-control" />
        <span asp-validation-for="Identificador" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Senha"></label>
        <input asp-for="Senha" class="form-control" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input asp-for="LembrarMe" class="form-check-input" />
            <label asp-for="LembrarMe" class="form-check-label"></label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
