@model AvaProj.Models.Professor

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-3">Deletar</h1>

<h3>Tenha certeza antes de deletar algum professor</h3>

<h4>Professor</h4>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Nome)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </tbody>
</table>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Deletar" class="btn btn-danger" /> |
    <a asp-action="Index" class="btn btn-primary">Voltar a Lista</a>
</form>