@model AvaProj.Models.Professor

@{
    ViewData["Title"] = "Details";
}

<h1 class="mb-3">Detalhes</h1>

<h4>Professor</h4>
<hr />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Nome)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar a Lista</a>
</div>
